footer {
    grid-column: 1/-1;
    grid-row:4/5;
    background-color: $color-1;
    padding: 25px 2px 5px 2px;
    font-size: $size-normal;
    text-align: center;
    color: $color-2;
    .c-footer--1{
        display: block;
        text-align: center;
        background-color: $color-1;
        padding: 0 0px .5em 0px;
        letter-spacing: .02em;
        .c-footer--2 {
            padding: .5em 0px 2em 0px;
            font-size: $size-normal;
        }
    }
}