#header{
    display: grid;
    position: sticky;
    grid-column: 1/-1;
    text-align: center;
    top:0;

    grid-row: 1/2;
    background-color: $color-5;
    line-height: 1.5;
    color: $color-2;
    justify-items: center;
    align-items: center;
    z-index: 1;
    padding: 0;
}

.nav{
    padding: 0;
    margin: 0;
}
.nav li a{
    color: $color-2;
    text-decoration: none;
    padding: 0.5em;
    display: block;
}

.nav > li{
    float: left;
}

.nav li a:hover{
    background-color: $color-1;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 100px;
    padding: .5em;
}

.nav li:hover > ul {
    display: block;
    background-color: $color-5;
    font-size: $size-mini;
}


.nav li ul li{
    position: relative;
    text-align: left;
    line-height: 1.5;
    color: $color-2;
    justify-items: center;
    align-items: center;
    padding: 0;   
}
