@import "normalize","variables","header";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 4em 30em 1fr 8em;
}

/*GENERAL SETTINGS*/
* {
  font-family: "Arial";
  list-style: none;
}

*[id]{
  padding: 3em 0 0 0;
}

#INICIO{
  padding: 0;
}


*::selection {
  background-color: #3f51b5;
  color: #ffd91f;
}

h2 {
  padding: .5em 0;
  color: #ffd91f;
}


/*IMG*/
.img-1 {
  display: inline-block;
  justify-self: center;
  align-items: center;
  margin: 1em 0;
  background-image: url("../accessories/CV1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  user-select: none;
  padding: 3em;
}

/*STRUCTURE*/

.section-1 {
  display: grid;
  background-color: #262626;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.5;
  color: #ffffff;
  justify-items: center;
  align-items: center;
  padding: 2% 0 0 0;

  // Styles for unordered list within .section-1
  ul {
    list-style: none; // Reset default list style
    padding: 0; // Remove default list item padding

    li {
      display: inline-block;
      padding: 0 1em 0 0;

      a {
        text-decoration: underline; // Underline by default
        transition: all 0.2s; // Apply transition

        &:hover {
          color: #ffd91f; // Change color on hover
        }
      }
    }
  }
}


.section-2 {
  display: grid;
  background-color: #262626;
  grid-column: 1/-1;
  grid-row: 3 / 4;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.5;
  color: #ffffff;
  justify-items: center;
  align-items: center;
  padding: 4%;
}

footer {
  grid-column: 1/-1;
  grid-row:4/5;
  background-color: #000000;
  padding: 25px 2px 5px 2px;
  font-size: .8em;
  text-align: center;
  color: #D8d6d4;
}

.c-footer--1,
.c-footer--2 {
  display: block;
  text-align: center;
  background-color: #000000;
  padding: 0 0px .5em 0px;
  letter-spacing: .02em;
}

.c-footer--2 {
  padding: .5em 0px 2em 0px;
  font-size: 1em;
}

.responsive-container-bi {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}

.responsive-container-tableau {
  position: relative;
  width: 100%;
  overflow: hidden;
}



.responsive-iframe-tableau {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 75% !important; /* Ajusta este valor según la proporción deseada */
}

@media only screen and (max-width: 767px) {
  .responsive-iframe-tableau {
    padding-bottom: 150% !important; /* Ajusta este valor para pantallas más pequeñas */
  }
}

.padding_down{
  padding: 0 0 2% 0;
}