@import "normalize","variables","header","footer";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 4em 30em 1fr 8em;
}

/*GENERAL SETTINGS*/
* {
  font-family: "Arial";
  list-style: none;
}

*[id]{
  padding: 3em 0 0 0;
}

#Inicio{
  padding: 0;
}

p{
  margin: .5em 0;
}

h1 {
  color: $color-4;
  padding: 0;
  margin: .5em 0;
}

h2{
  text-decoration: underline;
  margin:0;
  padding:0;
}

h3{
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: $color-3;
  color: $color-4;
}

/*IMG*/
.img-1 {
  display: inline-block;
  justify-self: center;
  align-items: center;
  background-image: url("../accessories/CV1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  user-select: none;
  margin: 3em 0 2em 0;
  padding: 5em;
}

/*STRUCTURE*/

.section-1 {
  display: grid;
  background-color: $color-1;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.5;
  color: $color-2;
  justify-items: center;
  align-items: center;

  // Styles for unordered list within .section-1
  ul {
    list-style: none; // Reset default list style
    padding: 0; // Remove default list item padding

    li {
      display: inline-block;
      padding: 0 1em 0 0;

      a {
        text-decoration: underline; // Underline by default
        transition: all 0.2s; // Apply transition

        &:hover {
          color: $color-4 // Change color on hover
        }
      }
    }
  }
}


.section-2 {
  display: grid;
  background-color: $color-1;
  grid-column: 1/-1;
  grid-row: 3 / 4;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.5;
  color: $color-2;
  justify-items: center;
  align-items: center;
  padding: 0 4%;
}

.responsive-container-bi {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}

.responsive-container-tableau {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.responsive-iframe-tableau {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 75% !important; /* Ajusta este valor según la proporción deseada */
}

@media only screen and (max-width: 767px) {
  .responsive-iframe-tableau {
    padding-bottom: 150% !important; /* Ajusta este valor para pantallas más pequeñas */
  }
}