/*GENERAL SETTINGS*/

*{
	background-color: #262626;
	font-family: "Arial";
	list-style: none;
}

*::selection{
	background-color: #3f51b5;
	color: #ffd91f;
}

b{
	background-color: #000;
}

p{
	text-align: justify;
	margin: 0 0 1em 0;
}

h1{
	color: #ffd91f;
	font-size: 1.9em;
	line-height: 1.5;
	text-align: left;
	margin: 0;
}

h2{
	color: #ffd91f;
	padding: 1em 0 0.2em 0;
}


/*LINKS*/

a:link{
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	cursor:url('accessories/rock.cur'), auto;
}

a:hover{
	color: #ffd91f;
	background-color: #000000;
	cursor:url('accessories/rock.cur'), auto;
	transition: all .2s;
}

a:visited{
	color: #ffffff;
	text-decoration: none;
	cursor:url('accessories/rock.cur'), auto;
}


/*NAV*/

.nav__ul{
    display: flex;
    position: fixed;
	justify-content: center;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box;
	padding: 0.5em 0 0 0;
}

.nav__li{
	display: flex;
	text-align: center;
    padding: 1em;
}

.nav__ul-responsive{
    display: flex;
    position: fixed;
	justify-content: center;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box;
	padding: 0.5em 0 0 0;
}

.nav__li-responsive{
	display:flex;
	background-color: #000000;
	text-align: center;
	padding: 8px 12px 10px 12px;
}

@media only screen and (max-width: 800px){
	.nav__ul{
		display:none;
	}
	.nav__ul-responsive{ 
		display:flex;
    	justify-content: center;} 
}

/*IMG*/

.img-1{ 
		background-image: url("accessories/CV1.png");
		background-repeat: no-repeat;
		background-position: left; 
		background-size: 10em; 
		height: 100px;
		user-select: none;
		padding: 5em;
		margin: 2em 1em 2em 0;
}


/*FOOTER*/

footer{
	background-color: #000000;
	padding: 25px 2px 5px 2px;
	font-size: .8em;
	text-align:center;
	color: #D8d6d4;
}

.c-footer--1{
	display: block;
	text-align: center;
	background-color: #000000;
	padding: 0 0px 10px 0px;
	letter-spacing: .02em;
}

.c-footer--2{
	display: inline-block;
	text-align: center;
	background-color: #000000;
	padding: 15px 0px 3em 0px;
	font-size: 1em;
}


/*STRUCTURE*/

.container{
	display: grid;
	height: 100vh;
	max-width: 1200 px;
	gap: 20px;
}

.sections-box{
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 50px 0 0 0;
}

.flex-item{
	flex-flow: column;
	flex-shrink: 0;
	flex-basis: 100%;
	padding: 0.8em 0 0.8em 5em;
	font-size: 1em;
	text-align: left;
	line-height: 1.5;
	color: #ffffff;
}

@media (max-width: 768px) {
    .sections-box {
        grid-template-columns: 1fr;
        margin: 20px 0 0 0;
    }

    .flex-item {
        padding: 0.8em 1em;
    }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .container {
        height: auto;
    }

    .sections-box {
        margin: 10px 0 0 0;
    }

    .flex-item {
        font-size: 0.9em;
        padding: 0.6em 1em;
    }
}